{% extends "landing/cafe_base.html" %}
{% block title %}all messages{% endblock %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">

{% endblock %}


{% block content %}
    <div class="container-fluid text-center" style="min-height:75vh ">

            <table class="table table-bordered text-center">
                <tr>
                    <th>message id</th>
                    <th>customer name</th>
                    <th>message</th>


                </tr>
                {% for message in message_list %}
                    <tr>
                        <td>{{ message.id}}</td>
                        <td>{{ message.customer_name }}</td>
                        <td>{{ message.message_text }}</td>


                    </tr>
                {% endfor %}
            </table>


    </div>
{% endblock %}