{% extends "landing/cafe_base.html" %}
{% load i18n %}
{% block title %}
    {% language "en" %}
        {% translate 'customer name' %}
    {% endlanguage %}
    all orders
{% endblock %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">

{% endblock %}


{% block content %}
    <div class="container-fluid text-center" style="min-height:75vh ">

        <table class="table table-bordered text-center">
            <tr>
                <th>
                    {% language "en" %}
                        {% translate 'order id' %}
                    {% endlanguage %}

                </th>
                <th>
                    {% language "en" %}
                        {% translate 'order status' %}
                    {% endlanguage %}

                </th>
                <th>
                    {% language "en" %}
                        {% translate 'table number' %}
                    {% endlanguage %}

                </th>
                <th>
                    {% language "en" %}
                        {% translate 'menu item name' %}
                    {% endlanguage %}

                </th>
                <th>
                    {% language "en" %}
                        {% translate 'menu item number' %}
                    {% endlanguage %}

                </th>
                <th>
                    {% language "en" %}
                        {% translate 'timestamp' %}
                    {% endlanguage %}

                </th>
                <th>
                    {% language "en" %}
                        {% translate 'details' %}
                    {% endlanguage %}

                </th>


            </tr>
            {% for order in orders_list %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.table_id.table_number }}</td>
                    <td>{{ order.menu_item_id.name_en }}</td>
                    <td>{{ order.menu_item_number }}</td>
                    <td>{{ order.time_stamp }}</td>
                    <td><a href="{% url 'landing:order_details' order.id %}">show order details</a></td>

                </tr>
            {% endfor %}
        </table>


    </div>
{% endblock %}